@model PaymateMVC.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@Styles.Render("~/datetimepicker/css")
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            @using (Html.BeginForm("Register", "Security", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.CustomerFirstName)
                            @Html.TextBoxFor(x => x.CustomerFirstName, new { @class = "form-control", placeholder = "Thanzeel" })
                            @Html.ValidationMessageFor(x => x.CustomerFirstName, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.CustomerLastName)
                            @Html.TextBoxFor(m => m.CustomerLastName, null, new { @class = "form-control", placeholder = "Jalaldeen" })
                            @Html.ValidationMessageFor(m => m.CustomerLastName, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.GenderID)
                            @Html.DropDownListFor(m => m.GenderID, new SelectList(Model.Gender, "GenderID", "GenderType"), "Select a gender", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GenderID, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.DateOfBirth)
                            @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "datepicker form-control" } })
                            @Html.ValidationMessageFor(m => m.DateOfBirth, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CustomerEmailAddress)
                    @Html.TextBoxFor(x => x.CustomerEmailAddress, null, new { @class = "form-control", placeholder = "thanzeel@example.com" })
                    @Html.ValidationMessageFor(x => x.CustomerEmailAddress, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.CustomerPassword)
                            @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CustomerPassword, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.ConfirmPassword)
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CustomerCardNo)
                    @Html.TextBoxFor(x => x.CustomerCardNo, new { @class = "form-control", placeholder = "0123456789" })
                    @Html.ValidationMessageFor(x => x.CustomerCardNo, null, new { @class = "text-danger" })
                </div>
                <input type="submit" value="Register" class="btn btn-primary btn-block">
            }
            <div class="text-center">
                @Html.ActionLink("Login", "Login", "Security", null, new { @class = "d-block small mt-3" })
                @*<a class="d-block small" href="forgot-password.html">Forgot Password?</a>*@
            </div>
        </div>
    </div>
</div>
@section calendar
    {
    @Scripts.Render("~/datetimepicker/js")
}