@model PaymateMVC.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header" style="font-weight:700;color:limegreen">Reset Password<a href="/Home/Index"><i class="fa fa-home fa-2x pull-right" aria-hidden="true"></i></a></div>
        <div class="card-body">
            @Html.Partial("_Loader", "page-spinner")
            @using (Html.BeginForm("ResetPassword", "Security", FormMethod.Post, new { id = "reg-log-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            @Html.Label("New Password")
                            @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CustomerPassword, null, new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Confirm Password")
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <input type="submit" value="Save" class="btn btn-primary col-md-12" id="reg-log-button">
            }
            <div class="text-center">
            </div>
        </div>
    </div>
</div>

